:root {
  --light-gray: #AFB1BD;
  --pale-gray: #F0F0F5;
  --gray: #4A4A4A;
  --dark-gray: #2A2A2A;
  --white: #fff;
  --black: #000;
  --main-title-size: 32px;
  --title-size: 24px;
  --progress-font-size: 16px;
  --label-size: 12px;
  --font-bold: 700;
}

* {
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
}

.main-container {
  margin: 20px auto;
  width: 540px;
  display: flex;
  flex-direction: column;
}

.register-title {
  margin-bottom: 32px;
  font-size: var(--main-title-size);
  font-weight: var(--font-bold);
  color: var(--dark-gray);
}