:root {
  --dark-gray: #4A4A4A;
  --title-dark-gray: #2A2A2A;
  --main-title-size: 32px;
  --title-size: 24px;
  --label-size: 12px;
  --font-bold: 600;
}

.form-container {
  margin-bottom: 48px;
}

.register-title {
  margin-bottom: 32px;
  font-size: var(--main-title-size);
  font-weight: var(--font-bold);
  color: var(--title-dark-gray);
}

.form-title {
  margin-top: 64px;
  margin-bottom: 24px;
  font-size: var(--title-size);
  font-weight: var(--font-bold);
  color: var(--title-dark-gray);
}

.form-body {
  display: flex;
  flex-direction: column;
}

.input-col {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 30px;
}

.input-group {
  width: 100%;
}

.input-label {
  margin-bottom: 8px;
  font-size: var(--label-size);
}

.input-control {
  height: 40px;
  width: 100%;
  margin-bottom: 8px;
  padding-left: 16px;
  font-size: var(--label-size);
  border: 1px solid var(--dark-gray);
  border-radius: 4px;
}

.select-control {
  appearance: none;
  height: 40px;
  width: 100%;
  padding-left: 16px;
  font-size: var(--label-size);
  color: var(--title-dark-gray);
  border: 1px solid var(--dark-gray);
  border-radius: 4px;
  position: relative;
  z-index: 1;
  background-color: transparent;
  &:hover {
    cursor: pointer;
  }
  &:invalid {
    color: #747474;
  }
}

.select-container {
  position: relative;
  &::after{
    content: "";
    border-style: solid;
    border-width: 5px 4.5px 0 4.5px;
    border-color: var(--title-dark-gray) transparent transparent transparent;
    position: absolute;
    top: 50%;
    right: 17px;
    transform: translateY(-50%);
  }
}

.title-input-group,
.city-input-group {
  grid-column: 1 / 3;
}

.name-input-group,
.address-input-group {
  grid-column: 3 / 7;
}

.tel-input-group {
  grid-column: 1 / 4;
}

.email-input-group {
  grid-column: 4 / 7;
}