.progress-container {
  margin-bottom: 64px;
  display: flex;
  justify-content: space-between;
  position: relative;
  &::after,
  &::before {
    content: '';
    width: 60px;
    height: 1px; 
    position: absolute;
    top: 11.5px;
  }
  &::after {
    left: 128px;
    background-color: var(--black);    
  }
  &::before {
    right: 128px;
    background-color: var(--pale-gray);
  }
  &.step2::before {
    background-color: var(--dark-gray);
  }
}

.progress-group {
  display: flex;
}

.progress-icon{
  margin-right: 8px;
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 0.5px solid var(--light-gray);
  color: var(--light-gray);
  text-align: center;
  
  &.action {
    border-color: var(--dark-gray);
    background-color: var(--dark-gray);
    color: var(--white);
  }
  
  &.action + .progress-label {
    color: var(--dark-gray)
  }

  &.done {
    border: none;
    background-image: url(../icons/page-compelet.svg);
    background-size: cover;
  }

  &.done + .progress-label {
    color: var(--dark-gray)
  }
}

.progress-label {
  color: var(--light-gray);
  font-size: var(--progress-font-size);
}